<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<!-- Lọc tất cả các URL -->
<!-- 		<bean class="ptithcm.interceptor.LoggerInterceptor" /> -->
		
<!-- 		Chỉ lọc các URL theo path -->
		<!-- <mvc:interceptor>
			<mvc:mapping path="/home/**"/>
			<mvc:exclude-mapping path="/home/index.htm"/>
			<bean class="ptithcm.interceptor.LoggerInterceptor" />
		</mvc:interceptor> -->
		
		 <!-- Lọc trang page và user -->
		 <mvc:interceptor>
			<mvc:mapping path="/user/**"/>
			<mvc:mapping path="/page/**"/>
			<mvc:exclude-mapping path="/user/login.htm"/>
			<mvc:exclude-mapping path="/user/register.htm"/>
			<mvc:exclude-mapping path="/user/forgot-password.htm"/>
			<mvc:exclude-mapping path="/user/activate.htm"/>
			<mvc:exclude-mapping path="/page/home.htm"/>
			<mvc:exclude-mapping path="/page/news.htm"/>
			<mvc:exclude-mapping path="/page/voucher.htm"/>
			<mvc:exclude-mapping path="/page/detail_product/**.htm"/>
			<bean class="fashion_shop.interceptor.SecurityUserInterceptor" />
		</mvc:interceptor>
		
		<!--  Lọc trang page và admin -->
		<!-- <mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/forgot-password.htm"/>
			<mvc:exclude-mapping path="/admin/login.htm"/>
			<bean class="fashion_shop.interceptor.SecurityAdminInterceptor" />
		</mvc:interceptor> -->
		
		<!-- GlobalInterceptor lọc tất cả các action -->
		<!-- <bean class="fashion_shop.interceptor.GlobalInterceptor" /> -->
		
		
	</mvc:interceptors>

</beans>